.contract {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f2f2f2;
  margin: 25px 10px 10px 10px;
  grid-gap: 10px;
  height: auto;
  justify-items: center;
  align-content: center;
}

.form-wrapper {
  border-radius: 5px;
  padding: 20px;
}

.contract-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contract-form-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contract-form-button:hover {
  background-color: #45a049;
}
